/*

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


*/

#contentHolder {
    text-align: center;
}

h1 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  line-height: 0.4;
  padding: 2vh;
}

#text:hover{ 
    transition: .1s linear; 
    background: none; 
    display:inline-block;
    text-decoration: none; 
  } 
  
  #text:hover{ 
    transform: translate(0px,0px) rotatex(0deg) rotatey(5deg) rotatez(8deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1); 
    transition: .1s linear; 
  }

h3 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8vw;
}

#post {
    margin-left: 30vw;
    margin-top: 10vh;
    border: 2px solid black;
    width: 40vw;
    height: auto;
}

#post h4 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    padding-left: 20px;
    line-height: 0.4;
}

#post h5 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1vw;
  line-height: 0.4;
  padding-left: 20px;
}

#post p {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  padding: 0px 20px 0px 20px;
}

#keepReading{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  padding-left: 31vw;
}

#fullPost {
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  width: 37vw;
  margin-left: 32vw;
  text-indent: 2vw;
  text-align: justify;
}

#homeNav {
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7vw;
  padding-left: 47vw;
}

#tagItem {
font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  padding-left: 20px;
  padding-bottom: 10px;
  line-height: 2;
}